<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.utouu.module.login"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application>
        <activity android:name=".ui.AccountBindActivity"/>
        <activity android:name=".ui.AccountRegisterActivity"/>
        <activity android:name=".ui.RetrieveActivity"/>
        <activity android:name=".ui.WebActivity"/>
        <activity android:name=".ui.ChangeDeviceActivity"/>
    </application>

</manifest>